.best-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  background: rgba(255, 255, 255, 0.65);
  padding: 22px 22px 22px 21px;
  border-radius: 8px;
}

.best-product_image {
  width: 151px;
  height: 130px;
}

.best-product_text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.best-product_text_name,
.best-product_text_price {
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #000000;
}