.catalog-product_wrapper {
  display: flex;
  flex-direction: row;
}

.catalog-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  background: rgba(255, 255, 255, 0.65);
  padding: 22px 22px 22px 21px;
  border-radius: 8px;

  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.catalog-product:hover {
  box-shadow: 8px 8px 40px rgba(26, 238, 65, 0.45);
}

.catalog-product_image {
  width: 167px;
  height: 115px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.catalog-product_description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.catalog-product_price {
  display: flex;
  align-items: flex-end;

  color: #000;
}

.catalog-product_name,
.catalog-product_country {
  font-size: 14px;

  color: #000;
}