nav {
  display: flex;

}
.header_navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 30px 0 0 148px;
}

.navigation_footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-end;


  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}


.navigation_logo {
  display: flex;
  width: 35px;
  height: 35px;
}