* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Merienda', cursive, sans-serif;
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

