.filter_coffee_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
}

.item_filter_wrapper {
  display: flex;
  flex-direction: row;
}

.item_filter_wrapper_name_price{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.item_filter_coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  background: rgba(255, 255, 255, 0.65);
  padding: 22px 22px 22px 21px;
  border-radius: 8px;

  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.item_filter_coffee:hover {
  box-shadow:8px 8px 40px rgba(26, 238, 65, 0.45);
}

.item_filter_coffee p {
  color: #000;
}

.item_filter_price {
  display: flex;
  align-items: flex-end;
}

.coffee_filter_item_image {
  width: 167px;
  height: 115px;
}

.item_filter_name {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}