.btn-light {
    
    box-shadow: 4px 4px 20px rgba(15, 249, 39, 0.822);
  
  }

.btn-outline-light {
    width: 75px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px 0px 0px 4px;
    border: none;
  
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}